<p>{{'passwordInfo'|translate}}</p>
<form>
<input type="hidden" value="send" name="mode">
<div class="formRow">
	<label for="universe">{{'universe'|translate}}</label>
	<select name="uni" class="changeAction" id="universe">
    <option value="Univers1">Univers1</option>
  </select>
</div>
<div class="formRow">
	<label for="username">{{'passwordUsername'|translate}}</label>
	<input type="text" name="username" id="username">
</div>
<div class="formRow">
	<label for="mail">{{'passwordMail'|translate}}</label>
	<input type="text" name="mail" id="mail">
</div>
<div class="formRow">
	<input type="submit" class="submitButton" value="{{'passwordSubmit'|translate}}">
</div>
</form>